# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=postgres
POSTGRES_DBNAME=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DRIVER=postgresql

# RabbitMQ:
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=

# RabbitMQ:
RABBITMQ_SCHEME=amqp
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=
RABBITMQ_VHOST=/
