# Postgres (официальный образ + приложение: POSTGRES_*)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_DBNAME=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DRIVER=postgresql

# RabbitMQ: переменные для образа
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# RabbitMQ: приложение (Pydantic)
RABBITMQ_SCHEME=amqp
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
